<!--
    buttons and inputs
    #usernameInput
    #submitUser

    images
    #rock
    #paper
    #scissors

    rows
    #titleRow
    #vsRow
    #usernameRow
    #actionRow
    #usernameStatus

-->
<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <div class="container">

      <div id="titleRow" class="row">
          <h1>Rock. Paper. Scissors. Pick wisely!</h1>
      </div>

      <input id="gameID_join" name="gameID_join" type="text" placeholder="ID de la game">
      <button id="joinGame">Join game</button> 
  </div>

    <script type="text/javascript"  src="/javascripts/jquery.js"></script>
    <script type="text/javascript"  src="/socket.io/socket.io.js"></script>
    <script type="text/javascript"  src="/javascripts/website.js"></script>
</body>
</html>