.container{
    width: 960px;
    margin: auto;
}

.row-username{
    margin: 20px;
}

.row-username p, .row-username input, .row-username button{
    display: inline-block;
    font-size: 20px;
}

.row-username input, .row-username button{
    border: 1px solid #e3e3e3;
    padding: 5px;
}

.row-username p{
    margin-right: 20px;
}

#findGameButton{
    width: 80%;
    height: 300px;

    border: 1px solid #e3e3e3;
    font-size: 32px;

    display: block;

    margin: auto;
}

h1{
    text-align: center;
}

img{
    border: 1px solid black;
    padding: 5px;
}

img:hover{
    border: 1px solid yellow;
    cursor: pointer;
    background: yellow;
}

/*
    CSS for JS
*/

.hidden{
    display: none;
}

.selected{
    border: 1px solid red;
    background: red;
}